{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'main/css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'edit/css/edit_list.css' %}">
    <link rel="icon" href="{% static 'main/img/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'main/img/favicon.ico' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    {% block link %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" defer></script>
    <script src="{% static 'edit/js/edit_list.js' %}" defer></script>
</head>
<body>
    <nav class="header">
        <a class="header-logo" href="{% url 'index' %}">
            <img src="{% static 'main/img/logo.png' %}" alt="" class="header-logo__img">
            <span class="header-logo__text">Store</span>
        </a>
        <input type="text" class="header-search" placeholder="Palit GeForce RTX 4070 Ti GameRock Classic 12G">
        <a class="header-login colorful-svg" id="open_login">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1000 1000"><g><path d="M500,544.5c-124,0-224.6-99.7-224.6-222.7C275.4,198.7,376,99,500,99c124,0,224.6,99.8,224.6,222.7C724.6,444.8,624,544.5,500,544.5L500,544.5L500,544.5z M500,10c-173.6,0-314.4,139.6-314.4,311.9c0,172.2,140.8,311.8,314.4,311.8c173.7,0,314.4-139.6,314.4-311.8C814.4,149.6,673.6,10,500,10L500,10L500,10z M500,544.5C251.9,544.5,50.8,744,50.8,990h89.8c0-196.8,160.9-356.4,359.4-356.4S859.3,793.2,859.3,990h89.9C949.2,744,748.1,544.5,500,544.5L500,544.5L500,544.5z"/></g></svg>
            <p href="" class="header-login__text">
                {% if user.username %} {{ user.username }} {% else %} LogIn {% endif %}
            </p>
        </a>
    </nav>
    <div class="content">
        <div class="content__product content__new-product colorful-svg">
            <p class="new-product__add">Add new product</p>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 533.333 533.333" style="enable-background:new 0 0 533.333 533.333;"
                xml:space="preserve">
                <g>
                    <path d="M516.667,200H333.333V16.667C333.333,7.462,325.871,0,316.667,0h-100C207.462,0,200,7.462,200,16.667V200H16.667
                        C7.462,200,0,207.462,0,216.667v100c0,9.204,7.462,16.666,16.667,16.666H200v183.334c0,9.204,7.462,16.666,16.667,16.666h100
                        c9.204,0,16.667-7.462,16.667-16.666V333.333h183.333c9.204,0,16.667-7.462,16.667-16.666v-100
                        C533.333,207.462,525.871,200,516.667,200z"/>
                </g>
                </svg>
        </div>
        {% for product in products %}
        <div class="content__product" id="{{product.url}}">
            <div class="product__img">
                <img src="/media/{{ product.img }}" alt="{{product.name}}">
            </div>
            <div class="product__params">
                <a class="product__name" href="{% url 'index' %}">{{product.name}}</a>
                <div class="params__list">
                    {% for key, value in product.propertys.items %}
                    <span class="params__prop">{{key}}: {{value}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="product__del colorful-svg red">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 774.266 774.266" style="enable-background:new 0 0 774.266 774.266;"
                    xml:space="preserve">
                    <g>
                        <g>
                            <path d="M640.35,91.169H536.971V23.991C536.971,10.469,526.064,0,512.543,0c-1.312,0-2.187,0.438-2.614,0.875
                                C509.491,0.438,508.616,0,508.179,0H265.212h-1.74h-1.75c-13.521,0-23.99,10.469-23.99,23.991v67.179H133.916
                                c-29.667,0-52.783,23.116-52.783,52.783v38.387v47.981h45.803v491.6c0,29.668,22.679,52.346,52.346,52.346h415.703
                                c29.667,0,52.782-22.678,52.782-52.346v-491.6h45.366v-47.981v-38.387C693.133,114.286,670.008,91.169,640.35,91.169z
                                M285.713,47.981h202.84v43.188h-202.84V47.981z M599.349,721.922c0,3.061-1.312,4.363-4.364,4.363H179.282
                                c-3.052,0-4.364-1.303-4.364-4.363V230.32h424.431V721.922z M644.715,182.339H129.551v-38.387c0-3.053,1.312-4.802,4.364-4.802
                                H640.35c3.053,0,4.365,1.749,4.365,4.802V182.339z"/>
                            <rect x="475.031" y="286.593" width="48.418" height="396.942"/>
                            <rect x="363.361" y="286.593" width="48.418" height="396.942"/>
                            <rect x="251.69" y="286.593" width="48.418" height="396.942"/>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="product_edit colorful-svg orange">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 581.176 581.176" style="enable-background:new 0 0 581.176 581.176;" xml:space="preserve">
                <g>
                    <g>
                        <polygon points="0,581.176 209.441,511.46 69.814,372.122 		"/>
                        <polygon points="581.176,139.337 441.549,0 395.006,46.47 534.634,185.807 		"/>
                        <polygon points="453.293,150.961 173.869,429.635 232.107,487.631 511.363,208.957 		"/>
                        <polygon points="150.597,406.388 430.022,127.714 371.735,69.62 92.48,348.294 		"/>
                    </g>
                </g>
                </svg>
            </div>
        </div>
        {% endfor %}
    </div>
    {% block script %}{% endblock %}
</body>
</html>