{% extends 'main/layout.html' %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'main/css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'product/css/form.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'product/js/form.js' %}" defer></script>
{% endblock %}

{% block title %}{% if method == 'POST' %}Create product{% else %}Update product{% endif %}{% endblock %}

{% block body %}
    <form class="product" id="product-form" method="{{ method }}" action="{% if method == 'POST' %}{% url 'product_crud' %}{% else %}{% url 'product_crud' product_id=product_id %}{% endif %}">
        <div class="product__main-info">
            <div class="main-info__img-element">
                <img src="{% if method == 'POST' %}/media/img/default.jpg{% else %}{{ product_form.image.url }}{% endif %}" alt="" class="img-element__img" id="product-img">
                {{ product_form.image }}
            </div>
            <div class="main-info__info">
                <div class="info__row">
                    {{ product_form.title }}
                </div>
                <div class="info__row">
                    {{ product_form.category }}
                </div>
                <div class="info__row">
                    {{ product_form.price }}
                </div>
                <div class="info__row">
                    {{ product_form.stock }}
                </div>
                <div class="info__row">
                    {{ product_form.description }}
                </div>
            </div>
        </div>
        <div class="product__attributes">
            <div class="attributes__select">
                {{ product_form.attributes }}
                <input type="checkbox" id="category-check" disabled>
            </div>
            <div class="attributes__form" id="attributes-form" hidden>
                <p id="product-attribute-name"></p>
                {{product_attribute_form.value}}
            </div>
            <div class="attributes__list">
                {% if method == 'PUT' %}
                    <select id="attributes-list" disabled="disabled" hidden>
                        {% for product_attribute in product_attributes %}
                            <option value="{{product_attribute.value}}">{{product_attribute.attribute}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
        </div>
        <button type="submit">Сохранить</button>
    </div>
{% endblock %}
