{% extends 'main/layout.html' %}

{% load static %}

{% block link%}
<link rel="stylesheet" href="{% static 'main/css/layout.css' %}"> 
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block script %}
{% endblock %}

{% block title %}Main{% endblock %}

{% block body %}
    <div class="list">
        {% for name, product in products %}
        <a href="" class="list-element colorful-svg">
            <svg viewBox="0 0 1000 1000">
                <use xlink:href="{% static 'main/img/'|add:product|add:'.svg' %}#{{product}}"></use>
            </svg>
            <p class="list-element__text">{{name}}</p>
        </a>
        {% endfor %}
    </div>
{% endblock %}